html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0b097c, #2586d6);

}

.App {
  text-align: center;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, #0b097c, #2586d6);
}

.metamask-logo {
  width: 25%;
  height: auto;
  margin-top: -20%;
  margin-bottom: 20px;
}

.connect-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2b2a2ed8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #04264b;
}

/* Add new style for account details */
.account-details {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  /* Change this */
  align-items: center;
  margin-right: 20px;
}

.codechain-logo-logged-in {
  width: 100px;
  height: auto;
  margin-right: 20px;
  /* Add margin between the logo and account details */
}

.header-container p {
  margin-left: 10px;
  /* Add margin between the logo and account details */
  color: white;
}

.title {
  color: white;
  font-family: Arial;
  font-size: 34px;
  margin-bottom: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
}

.public-repos {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  place-items: center;
}

details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  background-color: #ffffff;
  border-radius: 1em;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  font-size: 22px;
  transition: height 0.3s ease;
}

details[open] {
  height: auto;
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.search-bar {
  position: absolute;
  left: 45%;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
}

@media (max-width: 1080px) {
  .search-bar {
    position: absolute;
    transform: none;
    left: 15%;
    margin-left: 20px;
  }
}

.logo-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  flex-direction: column; /* Arrange children vertically */
  position: absolute;
  right: 0; /* Align it to the right edge of the screen */
  transform: translateX(0); /* Shift it to the left by its own width */
  min-width: 100px; /* Minimum width of the dropdown menu */
  max-width: 500px; /* Maximum width of the dropdown menu, 90% of the screen width */
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px; /* Increase padding to push text more towards the inside */
  z-index: 1;
}

.dropdown .dropdown-menu {
  display: flex;
}

h2{
  color: black;
  font-size: 14px;
}